html, body {
	background-color: #ffffff;
	height: 100%;
	margin: 0;
	padding: 0;
	background-image: url('https://pic.imgdb.cn/item/64a2fdf31ddac507ccb8c5f9.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	word-wrap: break-word;
	/*
	background: linear-gradient(to right, #00ffff, #00ff80); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
	*/

}

/*MC字体*/
@font-face {
	font-family: "mc";
	src: url("files/font/Minecraft字体.ttf") format("truetype");
}

/*正常字体*/
@font-face {
	font-family: "sans";
	src: url("files/font/SourceHanSansSC-Light-2.otf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

/*微软雅黑*/
@font-face {
	font-family: "msyh";
	src: url("files/font/msyh.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

.container {
	position: relative;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*标题*/
.text1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
	font-size: 32px;
	text-shadow: 5px 5px 5px #000000;
	font-family: "sans";
	line-height: 1;
}

/*副标题*/
.text2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
	font-size: 24px;
	text-shadow: 5px 5px 5px #000000;
	margin: 64px 0px 0px 0px;
	font-family: "sans";
	line-height: 1;
}

/*正文-板块1-标题*/
.text3 {
	font-size: 24px;
	color: black;
	font-family: "sans";
	line-height: 1;
}

/*正文-板块1-副标题*/
.text5 {
	font-size: 18px;
	color: black;
	font-family: "sans";
	line-height: 1;
}

/*正文-板块1-正文*/
.text4 {
	font-size: 16px;
	color: black;
	font-family: "sans";
	line-height: 1;
}

/*正文-板块1-副正文*/
.text6 {
	font-size: 14px;
	color: black;
	font-family: "sans";
	line-height: 1;
}

/*VistaDiv-首*/
.vista1 {
	border-radius: 5px;
	border: 1px solid #404040;
	width: 90%;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
	margin: 20px auto;
}

.vista1:hover {
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

.vista2{
	border-radius: 5px;
	border: 1px solid #e8e8e8;
	padding: 2px;
	backdrop-filter: blur(3px);
	background: url(https://pic.imgdb.cn/item/64a489b31ddac507cc4f6626.png), linear-gradient(transparent 20%,#ffffffd9 36%,transparent 36%), linear-gradient(90deg,#ffffff64,rgb(255 255 255 / 0%),#ffffff64), linear-gradient(55deg,transparent,rgb(255 255 255 / 0%) 20%,rgb(255 255 255 / 0%) 50%,#ffffff00 20%),#2ea9ff40;
	background-size: cover;
	background-attachment: fixed,local,local;
}

.vista3 {
	display: inline-block;
	margin: 3px;
	text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 10px #fff;
	font-family: "msyh";
	font-size: 12px;
	height: 16px;
}


.vista4{
	border-radius: 2px;
	border: 1px solid #c0c0c0;
	margin: 2px;
}

.vista5{
	border: 1px solid #404040;
	background-color: #e8e8e8;
	padding: 10px;
}

.vista6{
	border: 1px solid #404040;
	border-radius: 2px;
	margin: 3px;
}

.vista7{
	border: 1px solid #d0d0d0;
	border-radius: 1px;
	background-color: #ffffffc0;
	font-family: "msyh";
}

.navbarvista {
	right: 0px;
	left: 0px;
	background-color: rgba(128, 128, 128, 0);
	color: white;
	position: fixed;
	z-index: 10000;
	backdrop-filter: blur(3px);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
	border-radius: 5px;
	border: 1px solid #404040;
	margin: 5px;
}

.navbarvista:hover {
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 1);
}

.navbarvista2{
	border-radius: 5px;
	border: 1px solid #e8e8e8;
	padding: 2px;
	background-color: rgba(128, 128, 128, 0);
	height: 64px;
	background-image: url('https://pic.imgdb.cn/item/64a489b31ddac507cc4f6626.png');
	background-size: cover;
	background-attachment: fixed,local,local;
}

.navbarvista5{
	border: 1px solid #404040;
}

.ggvista1 {
	border-radius: 5px;
	border: 1px solid #404040;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
	margin: 20px auto;
	margin-right: 5px;
	position: fixed;
}

.ggvista1:hover {
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

.tsvista1 {
	border-radius: 5px;
	border: 1px solid #404040;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
	z-index: 1144;
	overflow: hidden;
	position: fixed;
	bottom: 0px;
	left: 50%;
	transform: translate(-50%, -50%);
}

.tsvista1:hover {
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

.tsvista2{
	border-radius: 5px;
	border: 1px solid #e8e8e8;
	padding: 2px;
	backdrop-filter: blur(3px);
	background: url(https://pic.imgdb.cn/item/64a489b31ddac507cc4f6626.png);
	background-attachment: fixed,local,local;
}

.zxh {
	background: url("https://pic.imgdb.cn/item/64a66f2c1ddac507ccbe4674.png") no-repeat;
		background-position-x: 0%;
		background-position-y: 0%;
	border-radius: 0px 0px 5px 5px;
	width: 30px;
	height: 18px;
	cursor: pointer;
	float: right;
	position: relative;
	margin-top: -3px;
	margin-right: 3px;
}

.zxh:hover{
	--moz-box-shadow: 
	0px 0px 5px #00b1ff,
	0px 0px 10px #00e5ff;
	-webkit-box-shadow: 
	0px 0px 5px #00b1ff,
	0px 0px 10px #00e5ff;
	box-shadow: 
	0px 0px 5px #00b1ff,
	0px 0px 10px #00e5ff;
}

/*VistaDiv-尾*/

/*板块1*/
.div1 {
	width: calc(100% - 48px);
	margin: 12px auto;
	border-radius: 2px;
	padding: 12px;
	background-color: rgba(224, 224, 224, 0.75);
	box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
	transition: box-shadow 1s cubic-bezier(0, 0, 1, 1);
	backdrop-filter: blur(6px);
}

.div1:hover {
	box-shadow: 0 0 24px rgba(0, 0, 0, 1);
	transition: box-shadow 0.1s cubic-bezier(0, 0, 1, 1);
}

.navbar {
	display: flex;
	align-items: center;
	background: linear-gradient(to right, #00ffffc0, #00ff80c0);
	height: 64px;
	color: white;
	padding: 0 20px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	width: 100%;
	backdrop-filter: blur(6px);
	box-shadow: 5px 0px 32px #00000080;
	transition: background 0.25s ease-in-out, backdrop-filter 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.navbar:hover {
	background: linear-gradient(to right, #008080c0, #008040c0);
	backdrop-filter: blur(12px);
	box-shadow: 5px 0px 32px #000000ff;
}

.logo {
	font-size: 24px;
	font-weight: bold;
	margin-right: auto;
	display: flex; 
}

.nav-link {
	text-decoration: none;
	color: white;
	margin: 0 10px;
	padding: 12px 12px;
	font-family: "sans";
	font-size: 12px;
}

.nav-link-e {
	text-decoration: none;
	color: #00ff80;
	margin: 0 10px;
	padding: 12px 12px;
	font-family: "sans";
	font-size: 12px;
	text-shadow: 2px 2px 5px #000000;
}


.nav-links {
	position: absolute; /* 子元素需要设置为绝对定位 */
	top: 50%; /* 这里只是为了让子元素居中 */
	transform: translateY(-50%);
	right: 32px; /* 距离父元素右边的间隔 */
	text-align: center;
	line-height: 50px;
	text-shadow:2px 2px 5px #00000080;
}

.nav-link:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

	.sj {
		list-style-type: none;
		padding-left: 20px;
	}
